{% extends 'base.html' %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">{{ view_name }}</h1>
  <p class="lead">{{ view_description }} </p>
</div>

<form method="get">
    <div class="form-group row">
        <div class="col-6">
            <input type="text" name="name" class="form-control" placeholder="Search for user" value="{{ request.GET.name }}">
        </div>
        <div class="col-3">
                <button type="submit" class="btn btn-secondary btn-block">Search</button>
        </div>
        <div class="col-3">
            <a href="#"  class="btn btn-success btn-block">++ create new</a>
        </div>
    </div>
</form>

<div class="row">
    <div class="col">
        {% for user in users %}
        <div class="alert alert-secondary">
            <a href="#">{{ user.name }}</a> /
        </div>
    {% empty %}
        <div class="alert alert-danger">
            No users found.
        </div>
        {% endfor %}
    </div>
</div>

{% include 'pagination_control.html' %}

{% endblock %}