{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <title>Asset Manager app 1.0</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.6/examples/pricing/">

    <!-- Bootstrap core CSS -->
      <link rel="stylesheet" href="{% static 'css/bootstrap.4.6.2.css' %}">
<meta name="msapplication-config" content="/docs/4.6/assets/img/favicons/browserconfig.xml">
<meta name="theme-color" content="#563d7c">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

  </head>
  <body>

  {% if request.user.is_authenticated %}
 <!-- nav bar only for auth users -->
    {% include 'topNavBar.html' %}

 {% endif %}

<div class="row">
    <div class="col">
        {% include 'messages.html' %}
    </div>
</div>
<div class="container">
    {% block content %}
    {% endblock %}
</div>



  </body>
</html>
