<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">Asset Manager App</h5>
  {% if request.user.is_authenticated %}
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="#">{{request.user }}</a>
    <a class="p-2 text-dark" href="#">My assets</a>
    <a class="p-2 text-dark" href="#">History</a>
    <a class="p-2 text-dark" href="#">Logout</a>
  </nav>
  {% endif %}
</div>